* {
  box-sizing: border-box;
  color: #21293c;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: white;
  font-size: 11px;
}

.app {
  margin: 38px 50px;
}

button {
  border: none;
  background: none;
  outline: none;
}

.btn {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #7e34f6;
  border-radius: 4px;
  color: #fff;
  font-size: 11px;
  padding: 0 15px;
  cursor: pointer;
}
